  <ion-header>
    <ion-navbar >
 
    <ion-title align="center">Fonster</ion-title>
    <ion-buttons left>
     <button ion-button (click)=open(p1)>
      
        <img src="./assets/imgs/logo.png" height=120%>
      </button>

    </ion-buttons> 
     </ion-navbar>
</ion-header>

<ion-content>
<button ion-button full (click)="loginWithFB()">Login!</button>

<ion-card *ngIf="userData">
  <button ion-button full (click)=open(p1)>Idi na početnu!</button>
    <ion-card-header>{{ userData.username }}</ion-card-header>
    <img [src]="userData.picture" />
    <ion-card-content>
      <p>Email: {{ userData.email }}</p>
      <p>First Name: {{ userData.first_name }}</p>
    </ion-card-content>
  </ion-card>
  </ion-content>



<ion-footer>
  <ion-toolbar>
      <ion-segment [(ngModel)]="apps">
     
      <ion-segment-button> 
        <ion-icon name="home"></ion-icon>
      </ion-segment-button>
    
    
      <ion-segment-button >
        <ion-icon name="add"></ion-icon>
      </ion-segment-button>
    
      <ion-segment-button >
        <ion-icon name="information-circle"></ion-icon>
      </ion-segment-button>
      <ion-segment-button>
        <ion-icon name="notifications"></ion-icon>
      </ion-segment-button>
      
    </ion-segment>
  </ion-toolbar>
</ion-footer>