  <ion-header>
    <ion-navbar>
     <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title align="center">Fonster</ion-title>
    <ion-buttons left>
     <button ion-button (click)=open(p1)>
      
        <img src="./assets/imgs/logo.png" height=120%>
      </button>
    
    </ion-buttons> 
     </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-start></ion-icon>
      {{item.title}}
      <div class="item-note" item-end>
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
      <ion-segment [(ngModel)]="apps">
     
      <ion-segment-button  (click)=open(p1)> 
        <ion-icon name="home"></ion-icon>
      </ion-segment-button>
    
    
      <ion-segment-button (click)=open(p2)>
        <ion-icon name="add"></ion-icon>
      </ion-segment-button>
    
      <ion-segment-button (click)=open(p3)>
        <ion-icon name="information-circle"></ion-icon>
      </ion-segment-button>
      <ion-segment-button>
        <ion-icon name="notifications"></ion-icon>
      </ion-segment-button>
      
    </ion-segment>
  </ion-toolbar>
</ion-footer>