  <ion-header>
    <ion-navbar>
     <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title align="center" primary>Fonster</ion-title>
    <ion-buttons left>
     <button ion-button (click)=open(p1)>
      
        <img src="./assets/imgs/logo.png" height=120%>
      </button>
    
    </ion-buttons> 
     </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list no-lines>
   
  <ion-card *ngFor="let p of pera.slice().reverse()">
 <ion-item *ngIf="p.godina == 'Druga godina' && p.predmet == 'MTR'">

    <ion-item>
    <ion-avatar item-start>
         <img src="{{p.profilna}}">
    </ion-avatar>
    <h2>{{p.profile}}</h2>
       <p>{{p.godina}}, {{p.predmet}},<br> {{p.time}}</p>
  </ion-item>
  <ion-item *ngIf="p.slika">
  <img src="./assets/imgs/logoFon.png">
</ion-item>
  <ion-card-content>
    <p>{{p.poruka}}</p>
  </ion-card-content>

  <ion-row>
    <ion-col>
      <button ion-button icon-left clear small>
        <ion-icon name="thumbs-up"></ion-icon>
        <div>12 Likes</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear small>
        <ion-icon name="text"></ion-icon>
        <div>4 Comments</div>
      </button>
    </ion-col>
    </ion-row>
</ion-item>
</ion-card>
    
    </ion-list>

</ion-content>
<ion-footer>
  <ion-toolbar>
      <ion-segment [(ngModel)]="apps">
     
      <ion-segment-button  (click)=open(p1)> 
        <ion-icon name="home"></ion-icon>
      </ion-segment-button>
    
    
      <ion-segment-button (click)=open(p2)>
        <ion-icon name="add"></ion-icon>
      </ion-segment-button>
    
      <ion-segment-button (click)=open(p3)>
        <ion-icon name="information-circle"></ion-icon>
      </ion-segment-button>
      <ion-segment-button>
        <ion-icon name="notifications"></ion-icon>
      </ion-segment-button>
      
    </ion-segment>
  </ion-toolbar>
</ion-footer>
