  <ion-header>
    <ion-navbar >
     <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title align="center">Fonster</ion-title>
    <ion-buttons left>
  
     <button ion-button (click)=open(p1)>
      
        <img src="./assets/imgs/logo.png" height=120%>
      </button>


    </ion-buttons> 
     </ion-navbar>
</ion-header>

<ion-content padding class="pozadina">
<h1 align="center">Informacije</h1>

<h2>Studentska služba</h2>
<flash-card>
    <div class="fc-front">
      <img src="./assets/imgs/studentskasluzba.jpg">
    </div>
    <div class="fc-back">
       <img src="./assets/imgs/back1.jpg">
    </div>
  </flash-card>


<h2>Skriptarnica fakulteta</h2>
  <flash-card>
    <div class="fc-front">
      <img src="./assets/imgs/skriptarnica.jpg">
    </div>
    <div class="fc-back">
      <img src="./assets/imgs/back2.jpg">
    </div>
  </flash-card>


  <h2>Čitaonica</h2>
  <flash-card>
    <div class="fc-front">
      <img src="./assets/imgs/citaonica.jpg">
    </div>
    <div class="fc-back">
      <img src="./assets/imgs/back3.jpg">>
    </div>
  </flash-card>


   <h2>Fotokpirnica</h2>
  <flash-card>
    <div class="fc-front">
      <img src="./assets/imgs/kopirnica.jpg">
    </div>
    <div class="fc-back">
       <img src="./assets/imgs/back3.jpg">>
    </div>
  </flash-card>

</ion-content>
<ion-footer>
  <ion-toolbar>
      <ion-segment [(ngModel)]="apps">
     
      <ion-segment-button  (click)=open(p1)> 
        <ion-icon name="home"></ion-icon>
      </ion-segment-button>
    
    
      <ion-segment-button (click)=open(p2)>
        <ion-icon name="add"></ion-icon>
      </ion-segment-button>
    
      <ion-segment-button (click)=open(p3)>
        <ion-icon name="information-circle"></ion-icon>
      </ion-segment-button>
      <ion-segment-button>
        <ion-icon name="notifications"></ion-icon>
      </ion-segment-button>
      
    </ion-segment>
  </ion-toolbar>
</ion-footer>