<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list no-lines>
      <ion-item *ngFor="let p of pages;let i=index"  (click)="toggleLevel1('idx'+i)" [ngClass]="{active: isLevel1Shown('idx'+i)}" >
        <ion-item *ngIf="(p.subcategory.length > 0);else other_content">
      {{p.title}}
        <ion-icon color="success" item-right [name]="isLevel1Shown('idx'+i) ? 'arrow-dropup': 'arrow-dropright'"></ion-icon>
  
        <ion-list *ngIf="isLevel1Shown('idx'+i)" no-lines>
            <ion-item menuClose *ngFor="let m of p.subcategory; let i2=index" (click)="openPage(m)">
              {{m.title}}
            </ion-item>
        </ion-list>
      </ion-item>
       <ng-template #other_content>
        <ion-item  menuClose (click)="openPage(p)">
        {{p.title}}
        </ion-item>
      </ng-template>
    </ion-item>
    
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

