  <ion-header>
    <ion-navbar>
     <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title align="center">Fonster</ion-title>
    <ion-buttons left>
      <button ion-button (click)=open(p1)>
      
        <img src="./assets/imgs/logo.png" height=120%>
      </button>
    
    </ion-buttons> 
     </ion-navbar>
</ion-header>

<ion-content padding top>
  <ion-row>
    <ion-col col-12 class="naslovForme">Dodajte objavu</ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-12>

      <ion-label id="p1" class="naslovPadajuca">Godina studija</ion-label>
    <ion-select [(ngModel)]="listaOdabir">
      <ion-option value="Prva godina">Prva godina</ion-option>
      <ion-option value="Druga godina">Druga godina</ion-option>
      <ion-option value="Treca godina">Treca godina</ion-option>
      <ion-option value="Cetvrta godina">Cetvrta godina</ion-option>
       </ion-select>
    </ion-col>
  </ion-row>

  
  <ion-row>
    <ion-col col-12>
      <ion-label class="naslovPadajuca2">Predmet</ion-label>
    <ion-select [(ngModel)]="listaOdabir2"> 
      <ion-option value="Matematika 1" *ngIf="listaOdabir == 'Prva godina'" >Matematika 1</ion-option>
      <ion-option value="Matematika 2" *ngIf="listaOdabir == 'Prva godina'">Matematika 2</ion-option>
      <ion-option value="OIKT" *ngIf="listaOdabir == 'Prva godina'">OIKT</ion-option>
      <ion-option value="Menadzment" *ngIf="listaOdabir == 'Prva godina'">Menadzment</ion-option>
      <ion-option value="Osnovi organizacije" *ngIf="listaOdabir == 'Prva godina'">Osnovi organizacije</ion-option>
     
  
      <ion-option value="Teorija verovatnoce" *ngIf="listaOdabir == 'Druga godina'">Teorija verovatnoce</ion-option>
      <ion-option value="MTR" *ngIf="listaOdabir == 'Druga godina'">MTR</ion-option>
      <ion-option value="Marketing" *ngIf="listaOdabir == 'Druga godina'">Marketing</ion-option>
      <ion-option value="Statisika" *ngIf="listaOdabir == 'Druga godina'">Statistika</ion-option>


    
      <ion-option value="EPOS" *ngIf="listaOdabir == 'Treca godina'">EPOS</ion-option>
      <ion-option value="Teorija odlucivanja" *ngIf="listaOdabir == 'Treca godina'">Teorija odlucivanja</ion-option>
      <ion-option value="OI1" *ngIf="listaOdabir == 'Treca godina'">OI1</ion-option>
      <ion-option value="OI2" *ngIf="listaOdabir == 'Treca godina'">OI2</ion-option>

      <ion-option value="Internet tehnologije" *ngIf="listaOdabir == 'Cetvrta godina'">Internet tehnologije</ion-option>
      <ion-option value="Poslovno pravo" *ngIf="listaOdabir == 'Cetvrta godina'">Poslovno pravo</ion-option>
      <ion-option value="Upravljanje kvalitetom" *ngIf="listaOdabir == 'Cetvrta godina'">Upravljanje kvalitetom</ion-option>
     
       </ion-select>
    </ion-col>
  </ion-row>



  <ion-row>
    <ion-col col-12>
      <ion-item>
  <ion-textarea placeholder="Tap here" [(ngModel)]="note" name="note" autocomplete="on" autocorrect="on"></ion-textarea>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-12>
    
    <button ion-button color="dark" clear icon-only round>
      <ion-icon name='attach' is-active="false"></ion-icon>
    </button>
        <button ion-button color="dark" clear icon-only>
      <ion-icon name='camera' is-active="false"></ion-icon>
    </button>
        <button ion-button color="dark" clear icon-only>
      <ion-icon name='image' is-active="false"></ion-icon>
    </button>
 


 <!--  <p>{{global.brEl}}</p> -->
  <button ion-button round (click)="dodajUNiz(listaOdabir, listaOdabir2, note)">Submit</button>
  <!-- <p>{{global.brEl}}</p> -->
    </ion-col>
  </ion-row>
</ion-content>




<ion-footer>
  <ion-toolbar>
      <ion-segment [(ngModel)]="apps">
     
      <ion-segment-button  (click)=open(p1)> 
        <ion-icon name="home"></ion-icon>
      </ion-segment-button>
    
    
      <ion-segment-button (click)=open(p2)>
        <ion-icon name="add"></ion-icon>
      </ion-segment-button>
    
      <ion-segment-button (click)=open(p3)>
        <ion-icon name="information-circle"></ion-icon>
      </ion-segment-button>
      <ion-segment-button>
        <ion-icon name="notifications"></ion-icon>
      </ion-segment-button>
      
    </ion-segment>
  </ion-toolbar>
</ion-footer>
